<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>LJGS Cats - Ошибка</title>
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
</head>
<body>
<header><h1>LJGS Cats</h1>
	<nav>
		<ul>
			<li><a href="/index.html">Главная</a></li>
			<li><a href="#">Котики</a></li>
			<li><a href="#">Владельцы</a></li>
			<li><a href="#">О нас</a></li>
		</ul>
	</nav>
</header>
<main>
	<section><h2>Ошибка</h2>
		<div class="error-message"><img th:src="@{https://http.cat/${code}.jpg}" alt="Ошибка"
										class="error-image">
			<p th:text="${message}"></p></div>
	</section>
</main>
<footer><p>© 2023 LJGS Cats. All Rights Reserved.</p></footer>
<script th:src="@{/assets/js/script.js}"></script>
</body>
</html>